//  ROOT ========================================================================================================================================================
:root {
	// Site colors (Кольори сайту):
	// =================================================================

	// Background colors (Фонові кольори):
	// =================================================================
	--bg-primary: #fff;
	--bg-secondary: #e42d69;
	--bg-accent: #ffd120;
	--bg-accent-1: #ff5c00;
	--bg-inverse: #2a2a2a;
	--bg-main: #f3f4f6;

	// Text colors (Текстові кольори):
	// =================================================================
	--text-primary: #474747;
	--text-secondary: #fff;
	--text-accent: #e42d69;
	// =================================================================

	//Header Height========================================================================================================================================================
}
