.bold {
	font-weight: 600;

	.item-list & {
		font-weight: 700;
	}
}
.pink {
	color: var(--text-accent);
}

.button {
	position: relative;
	z-index: 10;
	padding: toRem(19) toRem(32);
	min-height: toRem(64);
	width: 100%;
	display: flex;
	align-items: center;
	gap: toRem(10);
	border-radius: toRem(20);
	transform: translate(0, -50%);
	opacity: 0;
	visibility: hidden;
	will-change: transform, visibility, opacity;
	overflow: hidden;

	.loaded &.hero__button {
		animation: from-bottom 0.3s ease 1.7s forwards;
	}

	&._watcher-view {
		animation: from-bottom 0.3s ease 0.4s forwards;
	}

	&::before {
		content: '';
		width: toRem(87);
		height: 100%;
		position: absolute;
		top: 0%;
		left: -40%;
		background: url('@img/hero/button-decor.svg') 0 0 no-repeat;
		animation: run-decor 3s infinite forwards;
	}

	@keyframes run-decor {
		0% {
			left: -20%;
		}
		100% {
			left: 120%;
		}
	}

	span {
		color: var(--text-primary);
		flex-grow: 1;
		text-align: center;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
		font-size: toRem(18);
		position: relative;
		z-index: 2;
	}

	svg {
		flex-shrink: 0;
		position: relative;
		z-index: 4;
	}
	path {
		fill: var(--text-primary);
	}
	// .button--yellow
	&--yellow {
		background-color: var(--bg-accent);
		box-shadow: 0 toRem(7) toRem(34) 0 rgba(0, 0, 0, 0.25);
	}
	// .button--orrange
	&--orrange {
		background-color: var(--bg-accent-1);

		span {
			color: var(--text-secondary);
		}

		path {
			fill: var(--text-secondary);
		}

		&::before {
			opacity: 0.7;
		}
	}
	// .button--pink
	&--pink {
		background-color: var(--bg-secondary);

		span {
			color: var(--text-secondary);
		}

		&::before {
			display: none;
		}
	}
}

.item-list {
	background: linear-gradient(90deg, rgb(227, 45, 105, 0.3) 40%, #e02d68 100%);
	border-radius: toRem(20);
	padding: toRem(1);
	overflow: hidden;

	opacity: 0;
	visibility: hidden;
	will-change: transform, visibility, opacity;

	&._watcher-view {
		animation: from-left 0.5s ease forwards;
	}

	&:nth-child(odd) {
		transform: translate(-30%, 0);
		&._watcher-view {
			animation: from-left 0.5s ease forwards;
		}
	}
	&:nth-child(even) {
		transform: translate(30%, 0);
		&._watcher-view {
			animation: from-right 0.5s ease forwards;
		}
	}

	// .item-list__wrap
	&__wrap {
		padding: toRem(15) toRem(15) toRem(15) 0;
		background-color: var(--bg-primary);
		border-radius: toRem(20);
	}

	p {
		padding-left: toRem(16);
		color: var(--text-primary);
		line-height: 1.31;
		position: relative;

		&:not(:last-child) {
			margin-bottom: toRem(10);
		}

		&::before {
			content: '';
			position: absolute;
			width: toRem(14);
			aspect-ratio: 1;
			top: 50%;
			left: 0%;
			border-radius: 50%;
			background-color: var(--text-accent);
			transform: translate(-50%, -50%);
		}
	}

	.item-rates__list &:nth-child(4) {
		.item-list__wrap {
			min-height: toRem(72);
			display: flex;
			align-items: center;
		}
	}
	.item-rates__list &:nth-child(5) {
		.item-list__wrap {
			min-height: toRem(72);
			display: flex;
			align-items: center;
		}
	}

	.item-rates__list & p {
		font-size: toRem(14);
	}

	.item-rates__list & p::before {
		display: none;
	}
}

//Анімація заголовків Hero========================================================================================================================================================

svg .svg-title-1 {
	fill: transparent;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.7s;
}

.loaded svg .svg-title-1 {
	fill: rgb(255, 255, 255);
}

svg .svg-title-2 {
	fill: transparent;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.8s;
}

.loaded svg .svg-title-2 {
	fill: rgb(255, 255, 255);
}

svg .svg-title-3 {
	fill: transparent;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.9s;
}

.loaded svg .svg-title-3 {
	fill: rgb(255, 255, 255);
}

svg .svg-title-4 {
	fill: transparent;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s;
}

.loaded svg .svg-title-4 {
	fill: rgb(255, 255, 255);
}

svg .svg-title-5 {
	fill: transparent;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2.1s;
}

.loaded svg .svg-title-5 {
	fill: rgb(255, 255, 255);
}

svg .svg-title-6 {
	fill: transparent;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2.2s;
}

.loaded svg .svg-title-6 {
	fill: rgb(255, 255, 255);
}

svg .svg-title-7 {
	fill: transparent;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2.3s;
}

.loaded svg .svg-title-7 {
	fill: rgb(255, 255, 255);
}

svg .svg-title-8 {
	fill: transparent;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2.4s;
}

.loaded svg .svg-title-8 {
	fill: rgb(255, 255, 255);
}

svg .svg-title-9 {
	fill: transparent;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s;
}

.loaded svg .svg-title-9 {
	fill: rgb(255, 255, 255);
}

svg .svg-title-10 {
	fill: transparent;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2.6s;
}

.loaded svg .svg-title-10 {
	fill: rgb(255, 255, 255);
}

svg .svg-title-11 {
	fill: transparent;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2.7s;
}

.loaded svg .svg-title-11 {
	fill: rgb(255, 255, 255);
}

svg .svg-title-12 {
	fill: transparent;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2.8s;
}

.loaded svg .svg-title-12 {
	fill: rgb(255, 255, 255);
}

svg .svg-title-13 {
	fill: transparent;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2.9s;
}

.loaded svg .svg-title-13 {
	fill: rgb(255, 255, 255);
}

svg .svg-title-14 {
	fill: transparent;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 3s;
}

.loaded svg .svg-title-14 {
	fill: rgb(255, 255, 255);
}

svg .svg-title-15 {
	fill: transparent;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 3.1s;
}

.loaded svg .svg-title-15 {
	fill: rgb(255, 255, 255);
}
//Анімація заголовків support========================================================================================================================================================
svg .svg-title-support-1 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s;
}

._watcher-view svg .svg-title-support-1 {
	fill: #474747;
}

svg .svg-title-support-2 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.30000000000000004s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.30000000000000004s;
}

._watcher-view svg .svg-title-support-2 {
	fill: rgba(228, 45, 105, 1);
}

svg .svg-title-support-3 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s;
}

._watcher-view svg .svg-title-support-3 {
	fill: rgba(228, 45, 105, 1);
}

svg .svg-title-support-4 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s;
}

._watcher-view svg .svg-title-support-4 {
	fill: rgba(228, 45, 105, 1);
}

svg .svg-title-support-5 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.6000000000000001s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.6000000000000001s;
}

._watcher-view svg .svg-title-support-5 {
	fill: rgba(228, 45, 105, 1);
}

svg .svg-title-support-6 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.7s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.7s;
}

._watcher-view svg .svg-title-support-6 {
	fill: rgba(228, 45, 105, 1);
}

svg .svg-title-support-7 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s;
}

._watcher-view svg .svg-title-support-7 {
	fill: rgba(228, 45, 105, 1);
}

svg .svg-title-support-8 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9000000000000001s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9000000000000001s;
}

._watcher-view svg .svg-title-support-8 {
	fill: rgba(228, 45, 105, 1);
}

svg .svg-title-support-9 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s;
}

._watcher-view svg .svg-title-support-9 {
	fill: #474747;
}

svg .svg-title-support-10 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.1s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.1s;
}

._watcher-view svg .svg-title-support-10 {
	fill: rgba(228, 45, 105, 1);
}

svg .svg-title-support-11 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.2s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.2s;
}

._watcher-view svg .svg-title-support-11 {
	fill: rgba(228, 45, 105, 1);
}

svg .svg-title-support-12 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.3s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.3s;
}

._watcher-view svg .svg-title-support-12 {
	fill: rgba(228, 45, 105, 1);
}

svg .svg-title-support-13 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.4000000000000001s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.4000000000000001s;
}

._watcher-view svg .svg-title-support-13 {
	fill: rgba(228, 45, 105, 1);
}

svg .svg-title-support-14 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s;
}

._watcher-view svg .svg-title-support-14 {
	fill: rgba(228, 45, 105, 1);
}

svg .svg-title-support-15 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.6s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.6s;
}

._watcher-view svg .svg-title-support-15 {
	fill: rgba(228, 45, 105, 1);
}
svg .svg-title-support-16 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.6s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.6s;
}

._watcher-view svg .svg-title-support-16 {
	fill: rgba(228, 45, 105, 1);
}
svg .svg-title-support-17 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.6s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.6s;
}

._watcher-view svg .svg-title-support-17 {
	fill: rgba(228, 45, 105, 1);
}

//Title about========================================================================================================================================================

svg .svg-title-about-1 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s;
}

._watcher-view svg .svg-title-about-1 {
	fill: #fff;
}

svg .svg-title-about-2 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.30000000000000004s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.30000000000000004s;
}

._watcher-view svg .svg-title-about-2 {
	fill: #fff;
}

svg .svg-title-about-3 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s;
}

._watcher-view svg .svg-title-about-3 {
	fill: #fff;
}

svg .svg-title-about-4 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s;
}

._watcher-view svg .svg-title-about-4 {
	fill: #fff;
}

svg .svg-title-about-5 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.6000000000000001s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.6000000000000001s;
}

._watcher-view svg .svg-title-about-5 {
	fill: #fff;
}

svg .svg-title-about-6 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.7s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.7s;
}

._watcher-view svg .svg-title-about-6 {
	fill: #fff;
}

svg .svg-title-about-7 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s;
}

._watcher-view svg .svg-title-about-7 {
	fill: #fff;
}

svg .svg-title-about-8 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9000000000000001s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9000000000000001s;
}

._watcher-view svg .svg-title-about-8 {
	fill: #fff;
}

svg .svg-title-about-9 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s;
}

._watcher-view svg .svg-title-about-9 {
	fill: #fff;
}

svg .svg-title-about-10 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.1s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.1s;
}

._watcher-view svg .svg-title-about-10 {
	fill: #fff;
}

svg .svg-title-about-11 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.2s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.2s;
}

._watcher-view svg .svg-title-about-11 {
	fill: #fff;
}

svg .svg-title-about-12 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.3s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.3s;
}

._watcher-view svg .svg-title-about-12 {
	fill: #fff;
}

svg .svg-title-about-13 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.4000000000000001s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.4000000000000001s;
}

._watcher-view svg .svg-title-about-13 {
	fill: #fff;
}

svg .svg-title-about-14 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s;
}

._watcher-view svg .svg-title-about-14 {
	fill: #fff;
}

svg .svg-title-about-15 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.6s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.6s;
}

._watcher-view svg .svg-title-about-15 {
	fill: #fff;
}

svg .svg-title-about-16 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.6s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.6s;
}

._watcher-view svg .svg-title-about-16 {
	fill: #fff;
}

svg .svg-title-about-17 {
	fill: transparent;
	-webkit-transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.6s;
	transition: fill 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.6s;
}

._watcher-view svg .svg-title-about-17 {
	fill: #fff;
}
