// Нові анімації від скролу

// Анімування прозорості по скролу
/*
opacity: 0.2;
animation: text;
animation-timeline: view();
animation-fill-mode: forwards;
animation-range: cover 20% cover 30%;
*/

//========================================================================================================================================================
// З сайта Peshi бігаючі собаки, зміщення по Х від скролу

/*
.tik-tok::before {
	animation-fill-mode: forwards;
	    will-change: right;
		animation: scroll;
	    animation-timeline: view();
	    animation-range: entry 0 cover 60%;
}

@keyframes scroll {
	0% {
		right: 0;
	}
	100% {
		right: 45%;
	}
}
	*/

//========================================================================================================================================================
// Виліт із прижком три напрямки серія

/*
@keyframes to-top {
	0% {
		transform: translate(0, 50%);
		opacity: 0;
		visibility: hidden;
	}
	20% {
		opacity: 1;
		visibility: visible;
	}
	80% {
		transform: translate(0, -5%);
		opacity: 1;
		visibility: visible;
	}
	100% {
		transform: translate(0, 0%);
		opacity: 1;
		visibility: visible;
	}
}
*/
/*
@keyframes from-right {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translateX(100%);
	}
	20% {
		opacity: 1;
		visibility: visible;
	}

	80% {
		opacity: 1;
		visibility: visible;
		transform: translateX(-5%);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
	}
}
*/
/*
@keyframes from-left {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translateX(-100%);
	}
	20% {
		opacity: 1;
		visibility: visible;
	}

	80% {
		opacity: 1;
		visibility: visible;
		transform: translateX(5%);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
	}
}
*/

//========================================================================================================================================================
// Падіння зверху з ефектом плющеня

/*
0% {
	transform: translateY(-100vh) scaleY(1.2) scaleX(1);
}
85% {
	transform: translateY(5vh) scaleY(0.8) scaleX(1.1);
}
100% {
	transform: translateY(0) scaleY(1) scaleX(1);
}
*/

//========================================================================================================================================================
// З сайту Chompy виліт заголовку з-за картки треба гратись із z-index

/*
0% {
    transform: translate(0, 200%) scale(.8);
    z-index: -1;
}
80% {
    transform: translate(0, -30%) scale(.95);
    z-index: -1;
}
90% {
    transform: translate(0, 0) scale(1);
}
95% {
    transform: translate(0, 4%);
    z-index: 1;
    opacity: 1;
}
100% {
    transform: translate(0, 0);
    z-index: 1;
    opacity: 1;
}
*/

// Хвилі чомпі
/*
0% {
    transform: translateX(0) skewX(-15deg);
}

50% {
    transform: translateX(10%) skewX(15deg);
}
100% {
    transform: translateX(0) skewX(-15deg);
}
*/
